:root {
    --primary-color: black;
    --secondary-color: white;
}
.darkMode {
    --primary-color: white;
    --secondary-color: black;
}
body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}   